{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="row">
	<div class="col-md-6">
		<ul class="breadcrumb">
		  	<li> <a href="{% url 'home' %}">Models</a></li>
		  	<li><a href="{% url 'index_site' %}"> Site conditions </a></li>
		  	<li class="active">{{ model.name }}</li>
		</ul>
	</div>
</div>

	<div class="row">
		<div class="col-md-12">
		
			<h3>{{ model.name }}</h3>
			<br>
			<h4>{{ model.description }}</h4>
			<br>

			<div id="map" class="vertical-map"></div>
		</div>

		<!--
		<div class="col-md-4">

			{% if sites %}
			<div id="" style="overflow-y:scroll; height:500px;">
				<ul>
			    {% for site in sites %}
			    	<li>{{ site.vs30 }}</li>
			    {% endfor %}
				</ul>
			</div>
			{% else %}
			<div class="alert alert-dismissable alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
		    	<p>No sites are available. Please add the first below</p>
		    </div>
			{% endif %}

			<div class="pagination">
			    <span class="step-links">
			        {% if sites.has_previous %}
			            <a href="?page={{ sites.previous_page_number }}">previous</a>
			        {% endif %}

			        <span class="current">
			            Page {{ sites.number }} of {{ sites.paginator.num_pages }}.
			        </span>

			        {% if sites.has_next %}
			            <a href="?page={{ sites.next_page_number }}">next</a>
			        {% endif %}
			    </span>
			</div>

		</div>
		-->

	</div>

</div>

{% load staticfiles %}
<script type="text/javascript" src="{% static 'eng_models/js/site.js' %}"></script>


{% endblock %}