{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="row">
	<div class="col-md-6">
		<ul class="breadcrumb">
		  	<li> <a href="{% url 'eng_models_home' %}">Models</a></li>
		  	<li><a href="{% url 'index_fragility' %}"> Fragility </a></li>
		  	<li class="active">{{ model.name }}</li>
		</ul>
	</div>
</div>
	
	<div class="row">
		<div class="col-md-12">
			
		<h3>{{ model.name }}</h3>
		<br>
		<h4>{{ model.description }}</h4>
		<br>
		<h4>Taxonomy source: {{ model.taxonomy_source }}</h4>
		<br>

		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
		        <select class="form-control" id="select">
					{% for tax in taxonomies %}
						<option value="{{ tax.taxonomy.id }}" > {{ tax.taxonomy }} </option>
					{% endfor %}
		        </select>
		</div>
	</div>

	<div class="row">
		<div style="height:50px;"></div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<div id="chart-container-prob">
			<table class="table table-striped table-hover" id='values-table'>
			  <thead>
			    <tr>
			    	<th>Limit state</th>
			      	<th>Mean</th>
			      	<th>Standard deviation</th>
			    </tr>
			  </thead>
			  <tbody>

			</tbody>
			</table>
			</div>
		</div>
		<div class="col-md-6">
			<div id="chart-container-cum"></div>
		</div>
	</div>

</div>


{% load staticfiles %}
<script type="text/javascript" src="{% static 'eng_models/js/fragility_detail.js' %}"></script>


{% endblock %}
