{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="row">
	<div class="col-md-6">
		<ul class="breadcrumb">
		  	<li> <a href="{% url 'eng_models_home' %}">Models</a></li>
		  	<li><a href="{% url 'index_logic_tree_sm' %}">Source Model Logic Tree </a></li>
		  	<li class="active">{{ model.name }}</li>
		</ul>
	</div>
</div>

{% include 'model_header.html' %}


</div>


{% load staticfiles %}

<!-- <script type="text/javascript" src="{% static 'eng_models/js/logic_tree.js' %}"></script> -->


{% endblock %}