{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

<div class="row">
	<div class="col-md-6">
		<ul class="breadcrumb">
		  	<li> <a href="{% url 'eng_models_home' %}">Models</a></li>
		  	<li><a href="{% url 'index_exposure' %}"> Exposure </a></li>
		  	<li class="active">{{ model.name }}</li>
		</ul>
	</div>
</div>
	
	<div class="row">

		<div class="col-md-12">
			
			<h3>{{ model.name }}</h3>
			<br>
			<h4>{{ model.description }}</h4>
			<br>
			<p>Taxonomy source: <a href="{% url 'detail_taxonomy' model.taxonomy_source.id %}">{{ model.taxonomy_source }}</a></p>

			<p>Authors:
			{% for contributor in model.exposure_model_contributor_set.all %}
				{% if contributor.author %}
					<a href="#">{{ contributor.contributor.first_name }} {{ contributor.contributor.last_name }}</a>
					{% if model.exposure_model_contributor_set.all|length > 1 %}
						{% if not forloop.last %},{% else %} and {% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			</p>
			<p>Contributors:
			{% for contributor in model.exposure_model_contributor_set.all %}
				{% if not contributor.author %}
					<a href="#">{{ contributor.contributor.first_name }} {{ contributor.contributor.last_name }}</a>
					{% if model.exposure_model_contributor_set.all|length > 1 %}
						{% if not forloop.last %},{% else %} and {% endif %}
					{% endif %}
				{% endif %}
			{% endfor %}
			</p>
			<br>

		</div>

	</div>

</div>

<div class="container-fluid" ng-app='exposureApp'>

	<div class="row" ng-controller='exposureCtrl'>
		<div class="col-md-4">
			<div class="row">
				<div class="col-md-12">
					<div id="map" style="height:90vh;"></div>
					<div id="region-selector">
						<select ng-model="region0" ng-options="region.name for region in regions0" class="form-control input-sm" ng-change='selectRegion(1, region0.id)'></select>
                        
                        <select ng-model="region1" ng-options="region.name for region in regions1" class="form-control input-sm" ng-change='selectRegion(2, region1.id)' ng-disabled='region1Disabled'></select>
                        
                        <select ng-model="region2" ng-options="region.name for region in regions2" class="form-control input-sm" ng-change='selectRegion(3, region2.id)' ng-disabled='region2Disabled'></select>
                    	
                    	<button class="btn btn-sm" ng-click='goHome()' ng-disabled='disableHome'><span class="glyphicon glyphicon-home" aria-hidden="true"></span></button>
                    	
                    	<button class="btn btn-sm" ng-click='upOneLevel()' ng-disabled='disableUp'><span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>
                    </div>
				</div>
			</div>
		</div>
		<div class="col-md-8">
			<div class="row" style="height: 30vh;">
				<div class="col-md-2">
					<label>Taxonomies:</label>
				</div>
				<div class="col-md-2">
					<select style="width:100%;" ng-model='taxonomy' ng-options="taxonomy.name for taxonomy in taxonomies" class="form-control input-sm" ng-change='setTaxonomy(taxonomy.id)'></select>
				</div>
				<div class="col-md-2">
					<button style="width:100%;" class="btn btn-primary btn-sm" ng-click='allTaxonomies()' ng-disabled='disableAllTaxonomies'>All Taxonomies <span class="glyphicon glyphicon-refresh" aria-hidden="true" ></span></button>
				</div>
				<div class="col-md-2">
					<button style="width:100%;" class="btn btn-sm btn btn-primary" ng-click='scrollToTop()'>Top <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></button>		
				</div>
				
				<div class="col-md-2">
					<button style="width:100%;" class="btn btn-sm btn btn-primary" ng-click='scrollToEnd()'>End <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></button>
				</div>
				
				<div class="col-md-2">
					<button style="width:100%;" class="btn btn-sm btn btn-success" ng-click='saveData()' ng-disabled="disableSave">Save <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span></button>
				</div>
				<div class="col-md-12">
					<br>
					<div id='assets_table_container' style="height:250px; overflow: auto;"></div>
				</div>
			</div>

			<div  class="row" id="asset_info" style="height:30vh;">
				<div class="col-md-12">
					<h5>Selected Assets</h5>
					<div class="row">
						<div class="col-md-10">
							<!--<tags-input ng-model="selectedAssets" class="ti-input-sm" display-property="name" placeholder="Add an asset" >
							</tags-input>
							-->
							<div id="assets-tag-list" class="tag-list"></div>
						</div>
						<div class="col-md-2">
							<button class="btn btn-danger btn-sm" ng-disabled='disableDelete' ng-click='deleteAssets()'> <span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete assets</button>
						</div>
					</div>

				</div>
				
				<div class="col-md-12">
					<h2>[[ asset_name ]]</h2>
				</div>
				
				<div class="col-md-6">
					<h4>Costs</h4>
					<canvas id="asset_chart" width="600" height="400"></canvas>
				</div>
				<div class="col-md-6">
					<h4>Occupancies</h4>
					<canvas id="asset_occ_chart" width="600" height="400"></canvas>
				</div>					
			</div>

		</div>

		<!--<div class="col-md-4">
		</div>-->
	</div>


</div>

{% load staticfiles %}
<script type="text/javascript" src="{% static 'eng_models/js/exposure.js' %}"></script>


{% endblock %}
