{% extends "base.html" %}

{% block content %}
{% load staticfiles%}
{% load humanize %}


<div class="container">

	<div class="row">
		<div class="col-md-6">
			<ul class="breadcrumb">
			  	<li> <a href="{% url 'eng_models_home' %}">Models</a></li>
			  	<li class="active">Logic Trees</li>
			</ul>
		</div>
	</div>
		
	<div class="row">
		<div class="col-md-12">
			<h2>Logic Trees</h2>
			<br>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<form action="{% url 'add_logic_tree' %}" method="post" enctype="multipart/form-data" class="form-horizontal">
				<fieldset>
					<legend>Insert new tree</legend>

					{% csrf_token %}
					{% include 'form.html' %}
				</fieldset>
			</form>
		</div>
	</div>

	{% if parse_error %}
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="alert alert-dismissible alert-danger">
			  	Error: Your file is not a valid xml input file for Openquake 
			</div>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col-md-12">

			{% if models %}
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					{% include 'pagination.html' %}
				</div>
				<div class="col-md-2"></div>


				{% for model in models %}
				<div class="col-md-8 col-md-offset-2">
					<div class="well">
						<div class="row">
							<div class="col-md-4" id='img-container'>
								<a href="{% url 'detail_logic_tree' model.id %}"><img src="{% static 'eng_models/img/logic_tree.png' %}"></a>
							</div>
							<div class="col-md-6">
								<h4><a href="{% url 'detail_logic_tree' model.id %}">{{ model.name }}</a></h4>
								<p>{{ model.description }}</p>
								<p>Type: {{ model.type }}</p>
								<p>Source models: 
									{% for sm in model.source_models.all %}
									<a href="{% url 'detail_source' sm.id %}">{{ sm }}</a>
									{% if model.source_models.all|length > 1 %}
										{% if not forloop.last %},{% else %} and {% endif %}
									{% endif %}
								{% endfor %}
								</p>
								<p>Author: <a href="#"> {{ user.first_name}} {{ user.last_name }} </a> </p>
								<a href="{% url 'download_logic_tree' model.id %}"><div class="btn btn-primary btn-sm">Download XML</div></a>
							</div>
							<div class="col-md-2">
								{{ model.date_created|naturalday }}
							</div>
						</div>
					</div>
				</div>
				<div class="col-md-2"></div>
				{% endfor %}


				<div class="col-md-8 col-md-offset-2">
					{% include 'pagination.html' %}
				</div>
				<div class="col-md-2"></div>
			</div>

			{% else %}
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="alert alert-dismissable alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
					    	<p>No logic trees are available. Please add the first</p>
					    </div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	
</div>

<script type="text/javascript">

    $('#id_source_models').addClass('no-bullets');

    $( "label[for='source_models']" ).hide();
    $( "#id_source_models" ).hide();
    $('#id_type').change( function() {
        if (this.value == 'gmpe'){
            $( "label[for='source_models']" ).show( "fast");
            $( "#id_source_models" ).show( "fast");
        }
        else {
            $( "label[for='source_models']" ).hide( "fast");
            $( "#id_source_models" ).hide( "fast");
        }
    });
</script>

{% endblock %}
