{% extends "base.html" %}

{% block content %}
{% load staticfiles%}
{% load humanize %}
{% load avatar_tags %}


<div class="container">

	<div class="row">
		<div class="col-md-6">
			<ul class="breadcrumb">
			  	<li> <a href="{% url 'eng_models_home' %}">Models</a></li>
			  	<li class="active">Fragility</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-md-offset-5 col-md-2">
			<a href="{% url 'add_fragility_model' %}"> <button class="btn btn-info" style="width: 100%;"> <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> New Model </button></a>
		</div>
	</div>


	<div class="row">
		<div class="col-md-12">

			{% if models %}
			<div class="row">
				<div class="col-md-8 col-md-offset-2">
					{% include 'pagination.html' %}
				</div>
				<div class="col-md-2"></div>


				{% for model in models %}
				<div class="col-md-6 col-md-offset-3">

					<div class="well">
						<div class="row">
								<div class="col-md-12">

									<p><a href="{% url 'profile' model.author.id %}"> {% if model.author|has_avatar %} {% avatar model.author 30 %} {% else %} <img style="height:30px;" src="{% static 'img/default-avatar.jpg' %}"> {% endif %} </a> <a href="{% url 'profile' model.author.id %}"> {{ model.author.first_name }} {{ model.author.last_name }} </a></p>

									{% if model.contributors.all %}<p>{{ model.contributors.all|length }} {% if model.contributors.all|length == 1 %} contributor: {% else %} contributors: {% endif %} {% for con in model.contributors.all %} <a href="{% url 'profile' con.id %}"> {% if con|has_avatar %} {% avatar con 30 %} {% else %} <img style="height:30px;" src="{% static 'img/default-avatar.jpg' %}" > {% endif %} </a> {% endfor %}</p>{% endif %}

									<p class="text-muted">
										{% if model.date_created|naturalday == 'today' %}
											{{ model.date_created|naturaltime }}
										{% else %}
											{{ model.date_created|naturalday }}
										{% endif %}
									</p>
									<h3> <a href="{% url 'detail_fragility' model.id %}">{{ model.name }}</a> </h3>
									<p>{{ model.description }}</p>


								</div>
						</div>
					</div>

				</div>
				{% endfor %}


				<div class="col-md-8 col-md-offset-2">
					{% include 'pagination.html' %}
				</div>
				<div class="col-md-2"></div>
			</div>

			{% else %}
				<br>
				<div class="row">
					<div class="col-md-8 col-md-offset-2">
						<div class="alert alert-dismissable alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
					    	<p>No models are available. Please add the first</p>
					    </div>
					</div>
				</div>
			{% endif %}
		</div>
	</div>
	
</div>

<script type="text/javascript">
    
    $( "label[for='tax_source_name']" ).hide();
    $( "#id_tax_source_name" ).hide();
    $( "label[for='tax_source_desc']" ).hide();
    $( "#id_tax_source_desc" ).hide();
    $('#id_add_tax_source').change( function() {
        if ($(this).is(":checked")){
            $( "label[for='tax_source_name']" ).show( "fast");
            $( "#id_tax_source_name" ).show( "fast");
            $( "label[for='tax_source_desc']" ).show( "fast");
            $( "#id_tax_source_desc" ).show( "fast");
        }
        else {
            $( "label[for='tax_source_name']" ).hide( "fast");
            $( "#id_tax_source_name" ).hide( "fast");
            $( "label[for='tax_source_desc']" ).hide( "fast");
            $( "#id_tax_source_desc" ).hide( "fast");
        }
    });
</script>

{% endblock %}
