{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="row">
	<div class="col-md-6">
		<ul class="breadcrumb">
		  	<li> <a href="{% url 'eng_models_home' %}">Models</a></li>
		  	<li class="active">Logic Trees</li>
		</ul>
	</div>
</div>
	
<div class="row">

	<div class="col-md-12">
		<h2>Logic Trees</h2>
		<br>
	</div>
</div>
<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<form action="{% url 'add_logic_tree' %}" method="post" enctype="multipart/form-data">
			<fieldset>
				<legend>Insert new tree</legend>

				{% csrf_token %}
			    {{ form }}
			    <br>
		        <div class="form-group">
				    <div class="col-lg-5 col-lg-offset-2">
				        <input class="btn btn-primary" type="submit" value="Add" />
				    </div>
			    </div>
			</fieldset>
		</form><br><br>
	</div>

	<div class="col-md-12">

		{% if models %}
		<div class="row">
			{% for model in models %}
			<div class="col-md-6 col-md-offset-3">
				<div class="well">
					<div class="row">
						<div class="col-md-2">
							<a href="{% url 'detail_logic_tree' model.id %}"><img src="#"></a>
						</div>
						<div class="col-md-8">
							<h4><a href="{% url 'detail_logic_tree' model.id %}">{{ model.name }}</a></h4>
							<p>{{ model.description }}</p>
							<p>Type: {{ model.type }}</p>
							<p>Source models: {% for sm in model.source_models.all %} <a href="{% url 'detail_source' sm.id %}">{{ sm }}</a> {% endfor %}</p>
							<a href="{% url 'download_logic_tree' model.id %}"><div class="btn btn-primary btn-sm">Download XML</div></a>
						</div>
						<div class="col-md-2">
							{{ model.date_created|date:"M d, Y" }}
						</div>
					</div>
				</div>
			</div>
			<div class="col-md-3"></div>
			{% endfor %}
		</div>
		{% else %}
			<div class="alert alert-dismissable alert-info">
			<button type="button" class="close" data-dismiss="alert">×</button>
		    	<p>No logic trees are available. Please add the first</p>
		    </div>
		{% endif %}
		<br>

	</div>
</div>

</div>

<script type="text/javascript">
	
    $('label').addClass('control-labels col-lg-2');
    $('input').addClass('form-control');
    $('select').addClass('form-control');
    $('textarea').addClass('form-control');
    $('input').wrap('<div class="col-lg-10"></div>');
    $('select').wrap('<div class="col-lg-10"></div>');
    $('textarea').wrap('<div class="col-lg-10"></div>');
    $('<div class="form-group">').insertBefore('label');
    $('</div>').insertAfter('</input>');
    $('</div>').insertAfter('</textarea>');
    $('</div>').insertAfter('</select>');

    $( "label[for='id_source_models_0']" ).hide( "fast");
    $( "#id_source_models" ).hide( "fast");
    $('#id_type').change( function() {
        if (this.value == 'gmpe'){
            $( "label[for='id_source_models_0']" ).show( "fast");
            $( "#id_source_models" ).show( "fast");
        }
        else {
            $( "label[for='id_source_models_0']" ).hide( "fast");
            $( "#id_source_models" ).hide( "fast");
        }
    });

</script>


{% endblock %}
