

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src: url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../bower_components/bootstrap/dist/fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}
/*
.full-size {
  width: 100%;
  height: 100%;
}
.leaflet-container {
	width: 100%;
	height: 500px;
}
*/

body {
  background: #FFFFFF;
}

.logic-tree {
  width: 100%;
  height: 500px;
}

.vertical-map {
  width: 100%;
  height: 500px;
}


form {
  background: #E3E3E3;
  padding: 20px;
  border-radius: 5px;
}


textarea { resize: none; }

#img-container img {
  max-width:100%;
  max-height:100%;
}

.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}


.no-bullets {
  list-style-type: none;
}



.currentRow {
	background-color : #F9F9FB !important;
}

.selectedRow {
	color : #FFFFBF !important;
}



/*marker clusters*/
.cluster {
	width: 40px;
	height: 40px;
	background-color: greenyellow;
	text-align: center;
	font-size: 24px;
}






.item-box {
  height: 150px;
  padding-right: 0px;
  padding-left: 0px;
  margin: 10px;
  box-shadow: 0.5px 0.5px 0.5px 0.5px #616161;
  border-radius: 3px;
  overflow: hidden;
  

}

.item-box .background{
  position: absolute;
  height: 100%;
  width: 100%;
  background-position: center;
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  -ms-background-size: 100%;
  background-size: 100%;
  z-index: -1;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;

}

.item-box .top{
  position: absolute;
  color: white;
  width: 100%;
  height: 40px;
  background-color: rgba(0, 0, 0, 0.8);

}

.item-box .top h4{
  -webkit-font-size: 100%;
  -moz-font-size: 100%;
  -o-font-size: 100%;
  -ms-font-size: 100%;
  font-size: 100%;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;


}

.item-box .bottom{
  position: absolute;
  bottom: -30px;
  color: white;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  height: 30px;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;

}



.item-box:hover .background {
    -webkit-filter: grayscale(1) brightness(0.45) contrast(1.05);
    filter: grayscale(1) brightness(0.45) contrast(1.05);
    
  -webkit-background-size: 120%;
  -moz-background-size: 120%;
  -o-background-size: 120%;
  -ms-background-size: 120%;
  background-size: 120%;

}


.item-box:hover .top h4{
  -webkit-font-size: 120%;
  -moz-font-size: 120%;
  -o-font-size: 120%;
  -ms-font-size: 120%;
  font-size: 120%;

}

.item-box:hover .bottom {
  -webkit-bottom: 0px;
  -moz-bottom: 0px;
  -o-bottom: 0px;
  -ms-bottom: 0px;
  bottom: 0px;

}











