<!doctype html>
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"> 
    <title>RISCO</title>

    {% load staticfiles %}
    {% load avatar_tags %}

    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-theme-flatly/flatly.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}" />

</head>
<body>






<div class="container-fluid" >

    <div class="rowrow background-fixed" style="height:100vh;">
        <div class="col-md-offset-4 col-md-4" style="top: 30%;">

            <form class="form-horizontal" action="" method="post">
                <legend>Create an account</legend>
                
                {% csrf_token %}
                <fieldset>

<!--                     <div class="form-group">
                        <label for="first_name" class="col-lg-2 control-label">First Name:</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" name="first_name" value="" id="first_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="last_name" class="col-lg-2 control-label">Last Name:</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" name="last_name" value="" id="last_name">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="col-lg-2 control-label">Email:</label>
                        <div class="col-lg-10">
                            <input class="form-control" type="text" name="email" value="" id="email">
                        </div>
                    </div> -->


                    {% include 'form.html' %}




                    <div class="form-group">
                        <div class="col-lg-offset-2 col-lg-10">
                            <button class="btn btn-primary" type="submit" value="create" style="width:100%;">CREATE</button>
                        </div>
                    </div>

                </fieldset>
            </form>

        </div>
    </div>

</div>









<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-tags/dist/js/bootstrap-tags.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/js/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/js/modal.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/jquery.nicescroll/dist/jquery.nicescroll.min.js' %}"></script>

<script type="text/javascript">
    $(document).ready(function() {  
        $("html").niceScroll();
    });
</script>



</body>
</html>


