<!doctype html>
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"> 
    <title>RISCO</title>

    {% load staticfiles %}
    {% load avatar_tags %}
    <!--<link rel="stylesheet" type="text/css" href="{% static 'eng_models/bower_components/jquery-ui-bootstrap/jquery.ui.theme.css' %}" />-->
    <!--<link rel="stylesheet" type="text/css" href="{% static 'bower_components/jquery-ui/themes/smoothness/jquery-ui.min.css' %}" />-->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-theme-flatly/flatly.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-tags/dist/css/bootstrap-tags.css' %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular/angular-csp.css' %}" />
    <!--
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/angular-tags/angular-tags-0.2.10.css' %}" />
    -->

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/handsontable/dist/handsontable.full.min.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet/dist/leaflet.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet-draw/dist/leaflet.draw.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet.markercluster/dist/MarkerCluster.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet.markercluster/dist/MarkerCluster.Default.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet.fullscreen/Control.FullScreen.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet-dvf/dist/css/dvf.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.css' %}" />

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />

</head>
<body>


<!-- NAVIGATION -->

<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">

        <div class="container-fluid">
            <div class="row">
                <nav class="navbar-wrapper navbar-default" role="navigation">
                  <div class="container">
                    <div class="navbar-header">
                        <a href="{% url 'home' %}" class="navbar-brand">risco</a>
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-button">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>
                    <div class="collapse navbar-collapse" id="collapse-button">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> MODELS <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'index_source' %}">SOURCE</a></li>
                                    <li><a href="{% url 'index_site' %}">SITE CONDITIONS</a></li>
                                    <li><a href="{% url 'index_rupture_model' %}">RUPTURE</a></li>
                                    <li><a href="{% url 'index_taxonomy' %}">TAXONOMIES</a></li>
                                    <li><a href="{% url 'index_exposure' %}">EXPOSURE</a></li>
                                    <li><a href="{% url 'index_fragility' %}">FRAGILITY</a></li>
                                    <li><a href="{% url 'index_consequence' %}">CONSEQUENCE</a></li>
                                    <li><a href="{% url 'index_vulnerability' %}">VULNERABILITY</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'index_logic_tree_sm' %}">SOURCE MODEL LOGIC TREES</a></li>
                                    <li><a href="{% url 'index_logic_tree_gmpe' %}">GMPE LOGIC TREES</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> JOB MANAGER <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li class="dropdown-header">SCENARIO</li>
                                    <li><a href="{% url 'index_scenario_hazard' %}">HAZARD</a></li>
                                    <li><a href="{% url 'index_scenario_risk' %}">RISK</a></li>
                                    <li><a href="{% url 'index_scenario_damage' %}">DAMAGE</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">PSHA</li>
                                    <li><a href="{% url 'index_psha_hazard' %}">HAZARD</a></li>
                                    <li><a href="{% url 'index_psha_risk' %}">RISK</a></li>
                                    <li><a href="#">DAMAGE</a></li>
                                    <li><a href="#">DISAGGREGATION</a></li>
                                    <li class="divider"></li>
                                    <li class="dropdown-header">EVENT BASED</li>
                                    <li><a href="{% url 'index_event_based_hazard' %}">HAZARD</a></li>
                                    <li><a href="#">RISK</a></li>
                                </ul>
                            </li>
                            <li class=""><a href="">DOCUMENTATION</a></li>
                        </ul>

                        <ul class="nav navbar-nav navbar-right">
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> {% if user|has_avatar %} {% avatar user 30 %} {% else %} <img style="height:30px;" src="{% static 'img/default-avatar.jpg' %}"> {% endif %} {{ user.first_name }} {{ user.last_name }}<b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'account' %}"><span class="glyphicon glyphicon-wrench"></span>&nbsp;ACCOUNT</a></li>
                                    <li class="divider"></li>
                                    <li id="logout-btn" class=""><a href="{% url 'logout' %}"><span class="glyphicon glyphicon-off"></span>&nbsp;LOGOUT</a></li>
                                </ul>
                            </li>
                        {% else %}
                        <li class=""><a href="{% url 'login' %}">Login</a></li>
                        <li class=""><a href="#">Register</a></li>
                        {% endif %}
                        </ul>

                    </div>
                  </div>
                </nav>
                <br>
            </div>
        </div>

    </div>    
</div>

<div class="container">
    <div class="row">
        <div style="height:100px;"></div>
    </div>
</div>

<div class="modal fade" id="modal" aria-labelledby="gridSystemModalLabel">
    <div id="spinner_center"></div>
</div>

<script type="text/javascript" src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/g/jquery.ui@1.10%28jquery.ui.core.min.js+jquery.ui.widget.min.js+jquery.ui.mouse.min.js+jquery.ui.sortable.min.js%29"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap-tags/dist/js/bootstrap-tags.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/js/transition.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/bootstrap/js/modal.js' %}"></script>
<!--<script type="text/javascript" src="{% static 'bower_components/jquery-ui/jquery-ui.min.js' %}"></script>-->

<script type="text/javascript" src="{% static 'bower_components/angular/angular.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/angular-ui-sortable/sortable.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/handsontable/dist/handsontable.full.min.js' %}"></script>


<script type="text/javascript" src="{% static 'bower_components/highcharts/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/highcharts/highcharts-more.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/chartjs/src/Chart.Core.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/chartjs/src/Chart.Bar.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/chartjs/src/Chart.Doughnut.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/chartjs/src/Chart.Line.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/chartjs/src/Chart.PolarArea.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/chartjs/src/Chart.Radar.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/Chart.Scatter.js/Chart.Scatter.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/Chart.StackedBar.js/src/Chart.StackedBar.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/leaflet/dist/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet-tilelayer-geojson/TileLayer.GeoJSON.js' %}"></script>
<script type="text/javascript" src="{% static 'js/Leaflet.heat/dist/leaflet-heat.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet-coordinates/dist/Leaflet.Coordinates-0.1.4.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet.markercluster/dist/leaflet.markercluster.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet-dvf/dist/leaflet-dvf.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet-omnivore/leaflet-omnivore.min.js/' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet-groupedlayercontrol/dist/leaflet.groupedlayercontrol.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/leaflet.fullscreen/Control.FullScreen.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/Leaflet.awesome-markers/dist/leaflet.awesome-markers.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/jsts/lib/javascript.util.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/jsts/lib/jsts.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/geohash-js/geohash.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/d3/d3.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/infinite-scroll/jquery.infinitescroll.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/chained/jquery.chained.remote.min.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/humanize-plus/public/dist/humanize.min.js' %}"></script>

<script type="text/javascript" src="{% static 'bower_components/spin.js/spin.js' %}"></script>
<script type="text/javascript" src="{% static 'bower_components/spin.js/jquery.spin.js' %}"></script>

<script type="text/javascript" src="{% static 'js/init.js' %}"></script>


<!-- CONTENT -->
{% block content %}{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-md-12" style="height:100px;">

        </div>
    </div>
</div>

</body>
</html>
