<!doctype html>
<html lang="en" >
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="utf-8"> 
    <title>RISCO</title>

    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'eng_models/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'eng_models/bower_components/bootstrap-theme-flatly/flatly.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'eng_models/bower_components/leaflet/dist/leaflet.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'eng_models/bower_components/leaflet-draw/dist/leaflet.draw.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'eng_models/css/main.css' %}" />

</head>
<body>


<div class="container">
    <div class="row">
        <div style="height:50px;"></div>
    </div>
</div>


<!-- NAVIGATION -->
<div class="container" >
    <div class="row">
        <nav class="navbar-wrapper navbar-default" role="navigation">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#collapse-button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <div class="collapse navbar-collapse" id="collapse-button">
                <ul class="nav navbar-nav navbar-left">
                    <li class=""><a href="">ACTIVITY</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> MODELS <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'index_hazard' %}">HAZARD</a></li>
                            <li><a href="{% url 'index_exposure' %}">EXPOSURE</a></li>
                            <li><a href="{% url 'index_site' %}">SITE CONDITIONS</a></li>
                            <li><a href="">FRAGILITY</a></li>
                            <li><a href="">VULNERABILITY</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> JOB MANAGER <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="">SCENARIO</a></li>
                            <li><a href="">PSHA</a></li>
                            <li><a href="">EVENT BASED</a></li>
                        </ul>
                    </li>
                    <li class=""><a href="">DOCUMENTATION</a></li>
                </ul>


                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"> username <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="">ACCOUNT</a></li>
                            <li><a href="">MY MODELS</a></li>
                            <li class="divider"></li>
                            <li id="logout-btn" class=""><a href="">LOGOUT  <span class="glyphicon glyphicon-off"> </a></li>
                        </ul>
                    </li>
                </ul>

            </div>
          </div>
        </nav>
        <br>
    </div>
</div>

{% load staticfiles %}
<script type="text/javascript" src="{% static 'eng_models/bower_components/jquery/dist/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eng_models/bower_components/jquery-ui/jquery-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eng_models/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'eng_models/bower_components/leaflet/dist/leaflet.js' %}"></script>
<script type="text/javascript" src="{% static 'eng_models/bower_components/leaflet-draw/dist/leaflet.draw.js' %}"></script>
<script type="text/javascript" src="{% static 'eng_models/js/init.js' %}"></script>

<!-- CONTENT -->
{% block content %}{% endblock %}

<div class="container">
    <div class="row">
        <div style="height:100px;"></div>
    </div>
</div>




</body>
</html>
