<ul class="pager">
  	<li class="previous"><a href="?page=1">← Newer</a></li>
  	{% if models.has_previous %}
        <li><a href="?page={{ models.previous_page_number }}">Previous</a></li>
    {% endif %}
    <li>
    	<span class="current">
            Page {{ models.number }} of {{ models.paginator.num_pages }}.
        </span>
    </li>
	{% if models.has_next %}
        <li><a href="?page={{ models.next_page_number }}">Next</a></li>
    {% endif %}
  	<li class="next"><a href="?page={{ models.paginator.num_pages }}">Older →</a></li>
</ul>
