{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">

<div class="row">
	<div class="col-md-6">
		<ul class="breadcrumb">
		  	<li class="active">Jobs</li>
		</ul>
	</div>
</div>
	
<div class="row">

	<h3>Scenario Based Analysis</h3>

	<div class="col-md-3 item-box">
		
		<div class="background" style="background-image: url('{% static 'eng_models/img/share.png' %}');"></div>
		<div class="top">
			<h4> Scenario Hazard </h4> 
		</div>
		<div class="bottom">
			<a href="{% url 'index_scenario_hazard' %}"><button class="btn btn-xs btn-info">List Jobs</button></a>
			<a href="{% url 'add_scenario_hazard' %}"><button class="btn btn-xs btn-success">New Job</button></a>
		</div>
	</div>

	<div class="col-md-3 item-box">
		
		<div class="background" style="background-image: url('{% static 'jobs/img/damage.jpg' %}');"></div>
		<div class="top">
			<h4> Scenario Damage </h4> 
		</div>
		<div class="bottom">
			<a href="{% url 'index_scenario_damage' %}"><button class="btn btn-xs btn-info">List Jobs</button></a>
			<a href="{% url 'add_scenario_damage' %}"><button class="btn btn-xs btn-success">New Job</button></a>
		</div>
	</div>

	<div class="col-md-3 item-box">
		
		<div class="background" style="background-image: url('{% static 'jobs/img/charts.jpg' %}');"></div>
		<div class="top">
			<h4> Scenario Risk </h4> 
		</div>
		<div class="bottom">
			<a href="{% url 'index_scenario_risk' %}"><button class="btn btn-xs btn-info">List Jobs</button></a>
			<a href="{% url 'add_scenario_risk' %}"><button class="btn btn-xs btn-success">New Job</button></a>
		</div>
	</div>
</div>
<div class="row">

	<h3>Classical PSHA Analysis</h3>

	<div class="col-md-3 item-box">
		
		<div class="background" style="background-image: url('{% static 'eng_models/img/share.png' %}');"></div>
		<div class="top">
			<h4> Classical PSHA Hazard </h4> 
		</div>
		<div class="bottom">
			<a href="{% url 'index_psha_hazard' %}"><button class="btn btn-xs btn-info">List Jobs</button></a>
			<a href="{% url 'add_psha_hazard' %}"><button class="btn btn-xs btn-success">New Job</button></a>
		</div>
	</div>

	<div class="col-md-3 item-box">
		
		<div class="background" style="background-image: url('{% static 'jobs/img/charts.jpg' %}');"></div>
		<div class="top">
			<h4> Classical PSHA Risk </h4> 
		</div>
		<div class="bottom">
			<a href="{% url 'index_psha_risk' %}"><button class="btn btn-xs btn-info">List Jobs</button></a>
			<a href="{% url 'add_psha_risk' %}"><button class="btn btn-xs btn-success">New Job</button></a>
		</div>
	</div>
</div>
<div class="row">

	<h3>Event Based PSHA Analysis</h3>

	<div class="col-md-3 item-box">
		
		<div class="background" style="background-image: url('{% static 'eng_models/img/share.png' %}');"></div>
		<div class="top">
			<h4> Event Based PSHA Hazard </h4> 
		</div>
		<div class="bottom">
			<a href="{% url 'index_event_based_hazard' %}"><button class="btn btn-xs btn-info">List Jobs</button></a>
			<a href="{% url 'add_event_based_hazard' %}"><button class="btn btn-xs btn-success">New Job</button></a>
		</div>
	</div>

	<div class="col-md-3 item-box">
		
		<div class="background" style="background-image: url('{% static 'jobs/img/charts.jpg' %}');"></div>
		<div class="top">
			<h4> Event Based PSHA Risk </h4> 
		</div>
		<div class="bottom">
			<a href="{% url 'index_event_based_risk' %}"><button class="btn btn-xs btn-info">List Jobs</button></a>
			<a href="{% url 'add_event_based_risk' %}"><button class="btn btn-xs btn-success">New Job</button></a>
		</div>
	</div>



</div>

</div>



{% endblock %}
