{% extends "base.html" %}

{% block content %}

<div class="container">

<div class="row">
	<div class="col-md-6">
		<ul class="breadcrumb">
		  	<li> <a href="{% url 'jobs_home' %}">Jobs</a></li>
		  	<li class="active">Scenario Damage</li>
		</ul>
	</div>
</div>


	<div class="row">
		<div class="col-md-12">
			<h2>Scenario based damage</h2><br>
			<div id='map' class="vertical-map"></div><br>
		</div>
	</div>

	{% if queue_error %}
	<br>
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<div class="alert alert-dismissible alert-danger">
			  	Error: Your job could not be able to be calculated in our servers
			</div>
		</div>
	</div>
	{% endif %}

	<div class="row">
		<div class="col-md-8">
			<form class="form-horizontal" action="{% url 'add_scenario_damage' %}" method="post" enctype="multipart/form-data">
				<fieldset>
					<legend>Insert new job</legend>
					{% csrf_token %}
					{% include 'form.html' %}
			    </fieldset>
			</form>
			
		</div>

		<div class="col-md-4">
			{% if jobs %}
			<div class="row">
				{% for job in jobs %}
				<div class="col-md-12">
					<div class="well">
						<div class="row">

							<div class="col-md-4">
								<h4><a href="{% url 'results_scenario_damage' job.id %}">{{ job.name }}</a></h4>
							</div>
							<div class="col-md-4">
								<a href="#"><div class="btn btn-primary btn-sm">Download XML</div></a>
							</div>
							<div class="col-md-4">
								{{ job.date_created|date:"M d, Y" }}
							</div>
						</div>
					</div>
				</div>
				{% endfor %}

			{% else %}
				<br>
				<div class="row">
					<div class="col-md-12">
						<div class="alert alert-dismissable alert-info">
						<button type="button" class="close" data-dismiss="alert">×</button>
					    	<p>No jobs are available. Please add the first</p>
					    </div>
					</div>
				</div>
			{% endif %}

		</div>

	</div>

</div>

{% load staticfiles %}

<script type="text/javascript" src="{% static 'jobs/js/scenario_damage.js' %}"></script>


{% endblock %}